{% extends 'account/index.html' %}
{% block content %}

<table>
        <tr>
            <th>Card title:</th>
            <th>{{data.title}}</th>
        </tr>
        <tr>
             <th>Card Number</th>
            <th>{{data.card_no}}</th>
        </tr>
        <tr>
            <th>Card Expiry</th>
            <th>{{data.card_expiry}}</th>
        </tr>
        <tr>
            <th>card company</th>
            <th>{{data.card_name}}</th>
        </tr>
</table>

<p><a class="delete-link" id="delete-object" data-object-id="3">Delete</a></p>
<div id="result"></div>
    <script>
    var elm = document.getElementById('delete-object');
var objectID = elm.getAttribute('data-object-id');
var resultDiv = document.getElementById('result');
elm.addEventListener('click', function() {
  var ask = confirm('r u sure?');
  if (ask && objectID) {

    var r = "Card will be  deleted permanently  ";
    resultDiv.textContent = r;
    var a = document.createElement('a');
    var link = document.createTextNode("Click here to finally delete ");
    a.appendChild(link);
    a.href = '{% url "account:delete_card" slug=data.slug %}';
    resultDiv.appendChild(a);
  } else {
    resultDiv.textContent = "User cancelled the dialog box...";
  }
  return false;
});
</script>
{%endblock%}